<div class="hweaderOfTable">

  <h2>
    <p>רשתות המזון </p>
    <p id="selectedMarket">{{selectedMarket}}</p>
  </h2>

</div>


<div class="container">
  <table class="table">
    <tr>
      <th>שם הרשת</th>
      <th>שם הסניף</th>
      <th>מרחק בק"מ</th>
    </tr>

    <ng-container *ngIf="sortedMarkets != null">
      <tr *ngFor="let branch of sortedMarkets">
        <td>{{ branch.networkName }}</td>
        <td>{{ branch.branchName }}</td>
        <td>{{ branch.distance}}</td>
      </tr>
    </ng-container>
  </table>
</div>