<div class="container">
  <form>
    <div class="form-group">
      <label for="search">המיקום שלי</label>
      <input placeholder="רשום כתובת" autocorrect="off" [(ngModel)]="inputAddress" autocapitalize="off" spellcheck="off" type="text"
        name="search" class="form-control" #search [formControl]="searchControl" (keyup)="onKeyupFromSearch(search.value)">
    </div>

    <div>
      <button class="btn btn-primary" type="submit" (click)="submitAddress(search.value)">שלח</button>
    </div>

  </form>
</div>

<app-list-branches [sortedMarkets]="sortedMarkets" [selectedMarket]="mostBranchesMarket"></app-list-branches>